<!-- views/partials/_header.ejs -->

<title>TinyApp</title>

<div>

  <% if (!user) { %>

    <a href="/login">Login</a> <a href="/register">Register</a>

  <% } else { %>

    <form method="POST" action="/logout?_method=PUT">
         <div><%=user.email%> <input type="submit" style="display: inline;" value="Logout"></div>
    </form>

  <% } %>

</div>
