<!-- views/partials/_header.ejs -->

<title>TinyApp</title>

<div>

  <% if (!user) { %>

  <a href="/login">Login</a> <a href="/register">Register</a>


  <% } else { %>

    <form method="POST" action="/logout">
         <div><%=user.id%> <input type="submit" style="display: inline;" value="Logout"></div>
    </form>

  <% } %>

</div>
