<!-- views/partials/_header.ejs -->

<title>TinyApp</title>

<div>
  <% if (!user) { %>

  <!--

    <form method="POST" action="/login">
        <input id="email" type="text" name="email" placeholder="Email" style="width: 300px">
        <input id="password" type="text" name="password" placeholder="Password" style="width: 300px">
        <input type="submit" value="Login">
    </form>

  -->

  <a href="/login">Login</a>  <a href="/register">Register</a>


  <% } else { %>

    <form method="POST" action="/logout">
         <%=user.id%> <input type="submit" value="Logout">
    </form>

  <% } %>

</div>
