<!DOCTYPE html>
<html lang="en">

  <head>
      <title>TinyApp</title>
  </head>

  <body>

    <header>
      <% include ./partials/_header %>
    </header>

    <ul>
      <% for (tinyURL in urls) { let actionPath = `/urls/${tinyURL}/delete`%>

            <form method="POST" action= <%= actionPath %>>
              <li><a href="urls/<%=tinyURL %>"><%=tinyURL %></a> --> <%= urls[tinyURL] %>
              <input  style="display: inline;" type="submit" value="Delete">
              </li>
            </form>

      <% }; %>
    </ul>

    <a href="/urls/new">New TinyLink</a>

  </body>

</html>
