<!DOCTYPE html>
<html lang="en">

  <head>
      <title>TinyApp</title>
  </head>

  <body style= "padding:25px;">

    <header>
      <% include ./partials/_header %>
    </header>

    <h1> TinyURL: <%=TinyURL%> </h1>
    <p>Total Vistis: <%= urls[TinyURL].visits%></p>
    <h3>Update URL below, starting with http:// </h3>

      <form method="POST" action= <%= `/urls/${TinyURL}` %>>
        <input id="editURL" type="text" name="editURL" placeholder= <%=urls[TinyURL].longURL%> style="width: 300px">
        <input type="submit" value="Update URL">
      </form>

      <div style="margin-top: 20px;">
        <a href="/urls">Back to your URLs</a>
      </div>

  </body>

</html>


