<!DOCTYPE html>
<html lang="en">

  <head>
      <title>TinyApp</title>
  </head>

  <body style= "padding:25px;">

      <header>
        <% include ./partials/_header %>
      </header>

      <h1>Register New Account</h1>


      <form method="POST" action= <%= `/register?_method=PUT` %>>
        <input id="email" type="email" name="email" placeholder="Email" style="width: 300px">
        <input id="password" type="text" name="password" placeholder="Password" style="width: 300px">
        <input type="submit" value="Register">
      </form>

  </body>

</html>

