<!DOCTYPE html>
<html lang="en">

  <head>
      <title>TinyApp</title>
  </head>

  <body style="font-size:16px; padding:25px;">

    <header>
      <% include ./partials/_header %>
    </header>

    <h1>New URL to make Tiny!</h1>
    <h3>Enter a new URL:</h3>

    <form  method="POST" action="/urls?_method=PUT">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" style="display: inline;" value="Submit">
    </form>

    <div style="margin-top: 20px;">
      <a href="/urls">Back to your URLs</a>
    </div>


  </body>

</html>