<!DOCTYPE html>
<html lang="en">

  <head>
      <title>TinyApp</title>
  </head>

  <body>

    <header>
      <% include ./partials/_header %>
    </header>

    <a> ShortURL: <%=shortURL%> & FullURL:  <%=longURL%></a>

  </body>

</html>


